* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/* Background */
.background {
    width: 100%;
    height: 100vh; /* full màn hình */
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
    position: fixed; /* hoặc absolute, fixed giúp không trôi */
    top:0;
    left:0;
    z-index:1;
}


/* Khung trên */
.khungdautrang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    top:0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    z-index: 10;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 5;
    cursor: pointer;
}

.logo img {
    max-width: 140px; /* Kích thước tối đa */
    max-height: 80px;
    width: auto; /* Tự động điều chỉnh */
    height: auto;
    object-fit: cover; /* Giữ tỷ lệ ảnh không bị méo */
}




/* Dòng chữ chính */
.hero-text {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'serif';
    font-size: 36px;
    font-weight: bold;
    z-index: 5;
    text-shadow: 2px 2px 6px black;
}

/* Container card */
.cards-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    gap: 30px;
    z-index: 5;
}

/* Card */
.card-hover {
    width: 250px;
    height: 350px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
     text-align: center;
     text-decoration: none;
}

.card-hover img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.card-hover h3 {
    margin: 10px 19px 10px 10px;
   
}

.card-hover p {
    padding: 0 10px;
    font-size: 16px;
}

/* Hover hiệu ứng */
.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.7);
}
